@import "compass/reset";
@import "bootstrap";
/*@import "compass/css3";*/

body, html {
  margin: 0;

  width: 100%;
  height: 100%;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 30%;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 30%;
}

ul.contacts {
  li.contact {
    a.active {
      font-weight: bold;
    }
  }
}
